<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwR5Zu143qu_8f1XA--cXPNhUsR7g6lnc</string>
	<key>GCM_SENDER_ID</key>
	<string>361081388640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandeepsahanicodes.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-271fc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-271fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361081388640:ios:a44841e7defb0613c80d05</string>
</dict>
</plist>